* {
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  font-family: 'Inconsolata', monospace;
  color: #363636;
  padding: 10rem 0 0;
  overflow-x: hidden;
}

p {
  font-size: 1rem;
  line-height: 1.4;
}

a.about-logo,
a.about-logo:hover {
  border-bottom: none !important;
}

footer a:hover {
  border-bottom: none;
}

body.tablet-eps {
  padding: 10rem 3rem 0;
}

h1 {
  font-size: 2.1rem;
  margin-bottom: 25px;
  font-weight: 600;
}

.grey-text-container h1 {
  color: #0F69F7;
}

h4 {
  text-transform: uppercase;
  font-size: 0.6rem;
  letter-spacing: 0.3rem;
}

p {
  padding-bottom: 0.6rem;
}

.typed-fade-out {
  opacity: 0;
  animation: 0;
  transition: opacity 0.50s;
}

.typed-cursor {
  display: none;
}

nav li {
  display: inline;
  text-decoration: none;
  font-size: 0.9rem;
}

a {
  color: #363636;
  text-decoration: none;
}

a:hover {
  color: #363636;
  text-decoration: none;
  border-bottom: 2px solid #FC3E3E;
}

a.black-under {
  color: #0F69F7;
  border-bottom: 2px solid #363636;
}

a.black-under:hover {
  color: #363636;
  border-bottom: 2px solid #363636;
}

.logo a:hover {
  text-decoration: none;
  border-bottom: none;
}

.logo img {
  width: 20%;
  padding: 1rem;
}

section.bottom-padding {
  margin-bottom: 0;
}
/* Menu Overlay */
.overlay {
  position: fixed;
  background: #363636;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s, visibility 0.5s, height 0.5s;
  transition: opacity 0.5s, visibility 0.5s, height 0.5s;
  overflow: hidden;
  z-index: 1100;
}

.overlay a:hover {
  border-bottom: none;
}

.overlay.open {
  opacity: 0.98;
  visibility: visible;
  height: 100%;
}

.overlay-cross {
  position: absolute;
  left: 14.5%;
  top: 12.5%;
}

.about-content {
  position: absolute;
  width: 60%;
  left: 15%;
  top: 22%;
}

.about-content a,
.about-content h1,
.about-content p {
  color: #F5EEEE;
  line-height: 1.2;
}

.about-content a,
.about-content a:hover {
  border-bottom: solid 1px #FC3E3E;
}

.about-content img {
  width: 30%;
  margin-top: 5%;
}

.intro,
section {
  margin: 0 auto;
  width: 60rem;
  padding: 0 2rem 2rem;
  display: flex;
}

.intro {
  padding: 0 2rem 1rem;
  margin-top: 3rem;
  width: 68%;
}

.contributor {
  width: 68%;
  padding: 0 2rem 1rem;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.contributor img {
  padding: 0 1.3rem 0 1.3rem;
  width: 9.5rem;
}

footer {
  outline: 0;
  background-color: #0F69F7;
  color: #F5EEEE;
  text-align: center;
  font-size: 0.9rem;
  padding-top: 1rem;
  display: inline-block;
  width: 100vw;
}

footer p {
  padding-bottom: 0;
}

footer img {
  width: 14%;
  padding-bottom: 1rem;
}

.write-up {
  width: 100vw;
  background-color: #F3F2F2;
  display: inline-block;
  padding-left: 0;
  padding-right: 0;
}

.pdf-writeups,
.top-writeup {
  max-width: 62rem;
  margin: 0 auto;
}

.writeup-left {
  padding: 2rem;
}

.writeup-right {
  padding-top: 3.2rem;
  padding-right: 2rem;
}

.writeups-right {
  padding-right: 2.5rem;
}

.writeups-left {
  padding-left: 1.9rem;
}

.writeup-ep {
  background-color: #FC3E3E;
  padding: 1rem;
  margin-bottom: 1rem;
  height: 100px;
  line-height: 50px;
}

.writeup-ep h4 {
  color: #F5EEEE;
  line-height: 2rem;
}

.writeup-ep a {
  display: inline-block;
}

.season {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

a.pdf-download:active,
a.pdf-download:hover {
  text-decoration: none;
  border-bottom: none;
}

.top-writeup {
  margin-bottom: 2rem;
}

.writeup-arrow {
  width: 91vw;
  position: absolute;
  top: 42rem;
  left: 3rem;
}

.blue-text {
  color: #0F69F7;
}
.writeup-left h1 {
  color: #0F69F7;
}

.strikethrough {
  text-decoration: line-through;
}

.bold {
  font-weight: 700;
}

.navbar {
  border: none;
}

.navbar-default {
  background-color: rgba(255,255,255,0.9);
}

nav.navbar.navbar-default.navbar-fixed-top {
  border: none;
}

.nav-flex {
  display: flex;
  height: 6.5rem;
  width: 67vw;
  margin: 0 auto;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 2rem;
}

.nav-flex li {
  text-align: center;
}
// body

.intro {
  width: 67vw;
  padding: 4rem 2rem;
  display: block;
}

.logo-row {
  width: 67vw;
}

.blue-ep,
.episode,
.grey-ep,
.grey-ep-s2 {
  height: 25rem;
  text-align: left;
  padding: 0;
  margin-bottom: 2rem;
}

.grey-ep {
  background-color: #FFF;
  color: #363636;
  padding: 81px 2rem 2rem;
}

.grey-ep-s2 {
  background-color: #EEEEEE;
  color: #363636;
  padding: 81px 2rem 2rem;
}

.blue-ep {
  background-color: #0F69F7;
  color: #F5EEEE;
  padding: 81px 2rem 2rem;
}

.text-container-1 {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.text-container-2 {
  width: 100%;
  height: 99%;
  overflow: auto;
  padding-right: 0;
}

.text-container-3 {
  top: 0;
  left: 2rem;
  padding: 0.5rem;
  position: absolute;
  width: 13rem;
}

.listen-tablet {
  bottom: 0;
  right: 0;
  margin-right: 2.5rem;
  position: absolute;
  padding: 0.35rem;
  width: 13rem;
}

.listen-mobile {
  width: 12rem;
  position: absolute;
  left: 0;
  padding: 0.3rem;
}

.listen-mobile,
.listen-tablet,
.text-container-3,
.writeup-ep {
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, #FC3E3E 50%, #0F69F7 50%);
  -webkit-transition: background-position 0.3s;
  -moz-transition: background-position 0.3s;
  transition: background-position 0.3s;
}

.listen-mobile h4,
.listen-tablet h4,
.text-container-3 h4 {
  font-weight: 600;
  text-align: center;
  color: #F5EEEE;
}

.text-container-3:active,
.writeup-ep:active,
a.listen-mobile:active,
a.listen-tablet:active {
  background-color: #2E79ED;
  border-bottom: none;
  text-decoration: none;
  background-image: none;
}

.text-container-3:hover,
.writeup-ep:hover,
a.listen-mobile:hover,
a.listen-tablet:hover {
  background-position: 0 -100%;
  border-bottom: none;
}

.text-container-3 a,
a.listen-mobile,
a.listen-tablet,
a.mobile-listen,
a.pdf-download {
  text-decoration: none;
}

.text-container-4 {
  visibility: hidden;
}

.share-btn {
  position: absolute;
  background-color: #FC3E3E;
  top: 0;
  left: 16rem;
  width: 10%;
  height: 10.5%;
}

.download-btn {
  position: absolute;
  background-color: #FC3E3E;
  top: 0;
  left: 2rem;
  width: 10%;
  height: 10.5%;
}

.download-btn li,
.share-btn li {
  background: #FC3E3E;
  list-style: none;
  white-space: nowrap;
  display: inline-block;
  height: 100%;
  overflow: hidden;
}

.download-btn li a,
.share-btn li a {
  opacity: 0;
  max-width: 0;
  display: inline-block;
  text-decoration: none;
  transition: max-width 1s ease-out 0.1s, opacity 0.3s ease-out 0.1s, color;
  border-bottom: none;
}

.download-btn li a h4,
.share-btn li a h4 {
  float: right;
  color: #F5EEEE;
  position: relative;
  padding-right: 0.5rem;
  top: 0.5rem;
  font-weight: 600;
}

.download-btn li img,
.share-btn li img {
  display: inline-block;
}

li:hover {}

.download-btn li:hover a,
.share-btn li:hover a {
  opacity: 1;
  max-width: 8rem;
  transition: max-width 1s, opacity 1.5s 0.2s ease, color 0.2s;
}

.download-btn img,
.share-btn img {
  cursor: pointer;
  width: 25px;
  margin-left: 15px;
  margin-top: -7px;
  margin-right: 16px;
}

.mejs-time.test,
.mobile-episode {
  display: none;
}

.ep-1,
.ep-2,
.ep-3,
.ep-4,
.ep-5,
.ep-6 {
  background-repeat: no-repeat;
  background-size: cover;
}

.ep-1 {
  background-image: url("../img/ep-1.jpg");
}

.ep-2 {
  background-image: url("../img/ep-2.jpg");
}

.ep-3 {
  background-image: url("../img/ep-3.jpg");
}

.ep-4 {
  background-image: url("../img/ep-4.jpg")
}

.ep-5 {
  background-image: url("../img/ep-5.jpg");
}

.ep-6 {
  background-image: url("../img/ep-6.jpg");
}

.ep-1-s2 {
  background-image: url("../img/ep-1-s2.png");
}

.ep-2-s2 {
  background-image: url("../img/ep-2-s2.png");
}

.ep-3-s2 {
  background-image: url("../img/ep-3-s2.png");
}

.ep-4-s2 {
  background-image: url("../img/ep-4-s2.png");
}

.ep-5-s2 {
  background-image: url("../img/ep-5-s2.png");
}

.ep-6-s2 {
  background-image: url("../img/ep-6-s2.png");
}

.ep-7-s2 {
  background-image: url("../img/ep-7-s2.png");
}

.linkedin-white,
.linkedin-blue,
.twitter-white,
.twitter-blue {
  width: 4%;
}

.link-white,
.link-blue,
.linkedin-blue-tablet,
.twitter-blue-tablet,
.link-blue-tablet {
  width: 3.5%;
}

.linkedin-white,
.twitter-white,
.link-white,
.linkedin-white-tablet,
.twitter-white-tablet,
.link-white-tablet {
  fill: #fff;
}

.linkedin-blue,
.twitter-blue, 
.link-blue,
.linkedin-blue-tablet,
.twitter-blue-tablet,
.link-blue-tablet {
  fill: #0F69F7;
}

svg.linkedin-white,
svg.linkedin-blue {
  position: absolute;
  bottom: 2rem;
}

svg.twitter-white,
svg.twitter-blue {
  left: 4rem;
  bottom: 1.85rem;
  position: absolute;
}

svg.link-white,
svg.link-blue {
  left: 5.9rem;
  bottom: 1.9rem;
  position: absolute;
}

svg.linkedin-blue-tablet,
svg.twitter-blue-tablet,
svg.link-blue-tablet {
  position: absolute;
}



.btn-tablet {
  margin: 0 !important;
}

.btn {
  margin-left: 3.8rem;
  background-color: #0f69f7;
  height: 1.5rem;
}

.white {
  background-color: #fff;
}

.grey {
  background-color: #EEEEEE;
}

.btn:focus {
  outline:none !important;
}

.btn:active {
  box-shadow: none;
}

.top-btn {
  margin-top: 3rem;
}

.bottom-btn {
  margin-top: -1rem;
}

.tablet-container-1 {
  max-width: 80rem;
  margin: 2.5rem 0 3.5rem;
  position: relative;
  display: flex;
  text-align: end;
}

.ep-img {
  position: relative;
  width: 77vw;
}

.ep-img img,
.ep-img-mobile img {
  height: auto;
  width: auto;
  max-width: 100%;
}

a.blue-arrow {
  position: absolute;
  left: 6.5rem;
  z-index: 10;
}

a.blue-arrow img {
  width: 55%;
}

a.blue-arrow:hover {
  text-decoration: none;
  border-bottom: 0;
}

section.description-section {
  width: 69vw;
  margin-top: 2.5rem;
  margin-bottom: 7rem;
}

.text-container-2-tablet {
  color: #F5EEEE;
  background-color: #0F69F7;
  width: 15rem;
  height: 8rem;
  text-align: left;
  padding: 1rem 1.5rem 0.5rem;
  position: absolute;
  z-index: 10;
  left: 8.5rem;
  top: 7rem;
}

.text-container-2-tablet h1 {
  font-size: 1.5rem;
}

.small {
  height: 6rem;
  width: 11.5rem;
}

.extended {
  height: 9rem;
}

.extended-med {
  height: 10rem;
  width: 16rem;
}

.mid {
  height: 8rem;
  width: 11.5rem;
}

.extended-long {
  height: 11rem;
  width: 12rem;
}

.download-tablet {
  position: absolute;
  background-color: #FC3E3E;
  top: 0;
  width: 2.5rem;
  height: 2.3rem;
}

.download-tablet img {
  width: 55%;
  margin-right: 21%;
  margin-top: 9%;
}

.mobile-container-1 {
  max-width: 80rem;
  margin: 2.5rem 0 3.5rem;
  position: relative;
  display: flex;
}

.mobile-elements {
  width: 100%;
  height: 15vh;
  padding-top: 7%;
  position: relative;
  margin: 0 auto;
}

.description-section-mobile {
  padding: 0;
}

.ep-img-mobile {
  width: 100% !important;
  margin: 0 auto;
}

.mobile-header {
  display: flex;
  flex-direction: column;
}

.mobile-arrow {
  position: absolute;
  left: 2rem;
  top: 2.5rem;
}

.mobile-arrow img {
  width: 75%;
}

a.white-arrow:hover {
  text-decoration: none;
  border-bottom: 0;
}

.mobile-h1 {
  width: 60%;
  color: #F5EEEE;
  margin: 3.5% 5% 2% 0;
  float: right;
}

.description-section-mobile {
  width: 100%;
  margin-bottom: 9rem;
}

.ep-img {
  margin: 0 auto;
  width: 62vw;
}

.text-container-2-mobile {
  width: 100%;
  background-color: #0F69F7;
  margin: 0 auto;
  position: relative;
}

.download-mobile {
  position: absolute;
  background-color: #FC3E3E;
  width: 2.5rem;
  height: 2.3rem;
  right: 0;
}

.download-mobile img {
  width: 44%;
  margin-left: 27%;
  margin-top: 16%;
}

.mobile-listen {
  visibility: hidden;
  position: absolute;
}

.mobile-listen h4 {
  font-weight: 600;
}

.mlb h4 {
  color: #F5EEEE;
}

.mlr h4 {
  color: #FC3E3E;
}

.text-container-4-tablet {
  margin-bottom: 3rem;
}

svg.linkedin-blue-tablet,
svg.twitter-blue-tablet,
svg.link-blue-tablet {
  width: 1.5%;
}

svg.twitter-blue-tablet {
  left: 19.8%;
}

svg.link-blue-tablet {
  left: 22%;
}

@media (max-width: 1950px) {
  .ep-img {
    width: 42vw;
  }
  .text-container-2-tablet {
    left: 25.5rem;
  }
  a.blue-arrow {
    left: 23.5rem;
  }
}

@media (max-width: 1800px) {
  .ep-img {
    width: 48vw;
  }
  .text-container-2-tablet {
    left: 21.5rem;
  }
  a.blue-arrow {
    left: 19.5rem;
  }
}

@media (max-width: 1650px) {
  .ep-img {
    width: 47vw;
  }
  .text-container-2-tablet {
    left: 17.5rem;
  }
  a.blue-arrow {
    left: 15.5rem;
  }
  svg.twitter-blue-tablet {
    left: 20.5%;
  }
}

@media (max-width: 1550px) {
  .ep-img {
    width: 50vw;
  }
  .text-container-2-tablet {
    left: 15rem;
  }
  a.blue-arrow {
    left: 13rem;
  }
}

@media (max-width: 1550px) {
  .ep-img {
    width: 57vw;
  }
  .text-container-2-tablet {
    left: 11.3rem;
  }
  a.blue-arrow {
    left: 9.5rem;
  }
}

@media (max-width: 1450px) {
  .contributor img {
    width: 24%;
  }
}

@media (max-width: 1350px) {
  svg.twitter-blue-tablet {
    left: 21%;
  }
  .contributor-logos img {
    width: 6rem;
  }
}

@media (max-width: 1230px) {
  .nav-flex {
    width: 69vw;
  }

  .sec-ep1 {
    margin-bottom: 0.8rem;
  }

  .blue-ep,
  .grey-ep,
  .grey-ep-s2 {
    padding: 2rem;
  }

  .about-content p {
    font-size: 0.8rem;
  }

  .about-content img {
    width: 40%;
  }

  section {
    width: 100%;
    margin-bottom: -2.5rem;
  }

  .blue-ep,
  .grey-ep,
  .grey-ep-s2 {
    order: 2;
  }

  .blue-ep,
  .episode,
  .grey-ep,
  .grey-ep-s2 {
    height: 16rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  #text-container-2 p,
  .audio-player,
  .download-btn,
  .share-btn,
  .grey-text-container p,
  .text-container-3 {
    display: none;
  }

  .text-container-4 {
    visibility: visible;
    background-color: #FC3E3E;
    width: 45%;
    padding: 0.2rem;
    text-align: center;
    position: absolute;
    top: 78%;
  }

  .season {
    padding-bottom: 3rem;
  }

  .text-container-4 a {
    color: #F5EEEE;
  }
}
@media (max-width: 1200px) {
  .logo img {
    width: 28%;
  }
  .ep-img {
    width: 62vw;
  }
  .text-container-2-tablet {
    left: 8.3rem;
  }
  a.blue-arrow {
    left: 6.5rem;
  }
  svg.twitter-blue-tablet,
  svg.linkedin-blue-tablet {
    width: 2%
  }
  svg.twitter-blue-tablet {
    left: 22%;
  }
}

@media (max-width: 1090px) {
  a.blue-arrow {
    display: none;
  }
}
@media (max-width: 1050px) {
  a.blue-arrow {
    left: 5.5rem;
  }

  .contributor img {
    padding: 0 0.5rem 0 0.5rem; 
  }

  .top-writeup {
    margin-bottom: 2rem;
  }

  .writeup-right p {
    font-size: 0.9rem;
  }

  .text-container-2-tablet {
    left: 7.5rem;
  }
  .contributor-logos img {
    width: 5rem;
  }
}
@media (max-width: 980px) {
  .writeup5 h4 {
    margin-top: 12px;
  }
  .double {
    line-height: 1rem !important;
  }
}
@media (max-width: 950px) {
  .logo img {
    width: 32%;
  }

  .text-container-2-tablet {
    left: 4.5rem;
  }

  .contributor {
    width: 71%;
  }

  .tablet-container-1 {
    text-align: center;
    justify-content: center;
  }

  .listen-tablet {
    margin-right: 5rem;
  }

  .download-tablet img {
    margin-right: 3%;
  }
  svg.twitter-blue-tablet,
  svg.linkedin-blue-tablet {
    width: 2.5%
  }
  svg.twitter-blue-tablet {
    left: 23.5%;
  }
  .contributor-logos img {
    width: 4rem;
  }
}

@media (max-width: 875px) {
  .writeup4 h4 {
    margin-top: 11px;
  }
  .contributor img {
    width: 23%;
  }
}

@media (max-width: 835px) {
  .contributor-logos img {
    margin: 0 31px -1px 0;
  }
}

@media (max-width: 880px) {
  .writeup5 h4 {
    margin-top: 2px;
  }
}

@media (max-width: 850px) {
  .text-container-2-tablet {
    left: 2rem;
    top: 5.5rem;
  }

  .logo img {
    width: 41%;
  }

  .listen-tablet {
    margin-right: 4rem;
  }

  .mejs-controls .mejs-time-rail span {
    width: 46%;
    left: 26.5%;
  }
}
@media (max-width: 830px) {
  .writeup3 h4 {
    margin-top: 12px;
  }
}
@media (max-width: 780px) {
  .writeup5 h4 {
    margin-top: 1px;
  }
}
@media (max-width: 768px) {
  .logo img {
    width: 40%;
  }

  .contributor-logos img {
    width: 5rem;
  }

  .logo-row {
    width: 82vw;
  }

  svg.twitter-blue-tablet,
  svg.linkedin-blue-tablet {
    width: 3.5%
  }
  svg.twitter-blue-tablet {
    left: 26.5%;
  }

  .write-up {
    padding: 0 2rem 3rem;
  }

  .writeup3 h4 {
    margin-top: 10px;
  }

  .writeups-left,
  .writeups-right {
    padding: 0;
  }

  .writeup5 h4 {
    margin-top: 9px;
  }

  .writeup-left {
    padding: 2rem 0 0;
  }

  .writeup-left h1 {
    font-size: 2rem;
  }

  .writeup-right {
    padding-top: 3rem;
    padding-right: 0;
  }

  .top-writeup {
    margin-bottom: 1rem;
  }

  .text-container-2-tablet {
    left: 0;
    top: 4.5rem;
  }

  .listen-tablet {
    margin-right: 3rem;
  }

  footer img {
    width: 19%;
  }
}
@media (max-width: 767px) {
  .blue-ep,
  .episode,
  .grey-ep,
  .grey-ep-s2 {
    width: 50%;
  }

  .season-title {
    width: 50% !important;
  }

  .grey-text-container h1,
  div#text-container-2 h1 {
    font-size: 1.2rem;
  }
}
@media (max-width: 700px) {
  .blue-ep,
  .episode,
  .grey-ep,
  .grey-ep-s2 {
    height: 14rem;
  }

  .text-container-2-tablet h1 {
    font-size: 1.2rem;
  }

  .about-content {
    width: 68%;
  }

  .text-container-2-tablet {
    left: -0.5rem;
    top: 3.5rem;
    width: 12.5rem;
  }

  .listen-tablet {
    margin-right: 2.5rem;
  }

  .download-tablet img {
    margin-right: 6%;
  }

  .logo img {
    width: 48%;
  }
}
@media (max-width: 650px) {
  section {
    margin-bottom: -0.5rem;
  }

  .season {
    padding-bottom: 1.2rem;
  }

  .writeup4 {
    margin-top: 10px;
  }

  .writeup4 h4 {
    margin-top: 1px;
  }

  .blue-ep,
  .episode,
  .grey-ep,
  .grey-ep-s2 {
    height: 12rem;
    margin-bottom: 0;
  }

  .blue-ep,
  .grey-ep,
  .grey-ep-s2 {
    padding-left: 1.5rem;
    padding-top: 1rem;
  }

  .mejs-controls .mejs-time-rail span {
    width: 43%;
    left: 30.5%;
  }

  .text-container-2-tablet {
    left: 0;
    width: 10rem;
    top: 4rem;
    height: 6.5rem;
  }

  .grey-text-container h1,
  div#text-container-2 h1 {
    font-size: 1.1rem;
  }

  .text-container-4 {
    width: 54%;
    top: 72%;
  }

  .text-container-4 h4 {
    letter-spacing: 0.2rem;
  }

  .text-container-2-tablet h1 {
    font-size: 0.8rem;
  }

  .text-container-2-tablet h4 {
    font-size: 0.4rem;
  }
}
@media (max-width: 600px) {
  .writeup3 {
    margin-top: 10px;
  }

  .writeup3 h4 {
    margin-top: 2px;
  }

  .logo img {
    width: 58%;
  }

  svg.twitter-blue-tablet,
  svg.linkedin-blue-tablet {
    width: 4.5%
  }

  svg.twitter-blue-tablet {
    left: 20%;
  }
}
@media (max-width: 580px) {
  section {
    padding-bottom: 0;
    margin-bottom: -1rem;
  }

  .contributor {
    width: 93%;
  }

  .logo-row {
    margin-bottom: -1rem;
  }

  .ep-1-s2, 
  .ep-3-s2, 
  .ep-2-s2, 
  .ep-4-s2, 
  .ep-5-s2, 
  .ep-6-s2, 
  .ep-7-s2 {
    background-size: 12rem;
  }

  .twitter-blue,
  .twitter-white,
  .linkedin-blue,
  .linkedin-white,
  .link-blue,
  .link-white,
  .btn {
    display: none;
  }

  .season {
    padding-top: 0.5rem;
  }

  .season h1 {
    font-size: 1rem;
  }

  footer img {
    width: 25%;
  }

  .nav-flex {
    width: 76vw;
  }

  .intro {
    width: 84vw;
  }

  .logo-row {
    width: 84vw;
  }

  .blue-ep,
  .episode,
  .grey-ep,
  .grey-ep-s2 {
    height: 8rem;
    margin-bottom: 2rem;
  }

  .blue-ep,
  .grey-ep,
  .grey-ep-s2 {
    width: 136%;
  }

  .episode {
    width: 75%;
  }

  .about-content {
    width: 71%;
  }

  .tablet-episode,
  .text-container-4 {
    display: none;
  }

  .sec-ep1 {
    margin-bottom: 1.8rem;
  }

  .mobile-episode {
    display: block;
  }

  .mobile-listen {
    visibility: visible;
    position: absolute;
    bottom: 0.5rem;
  }

  a.mobile-listen:hover {
    border-bottom: none;
  }

  .grey-text-container,
  div#text-container-2 {
    position: absolute;
    left: 1.5rem;
    top: 1rem;
    width: 81%;
  }

  .grey-text-container h1,
  div#text-container-2 h1 {
    font-size: 1rem;
    line-height: 1.2rem;
    margin-top: -3px;
  }
}
@media (max-width: 500px) {
  .nav-flex {
    width: 88vw;
  }

  .blue-ep,
  .grey-ep,
  .grey-ep-s2 {
    width: 102%;
    height: 7.5rem;
  }

  .episode {
    height: 7.5rem;
  }

  .grey-text-container h1,
  div#text-container-2 h1 {
    font-size: 0.8rem;
    line-height: 1rem;
  }
}
@media (max-width: 480px) {
  .nav-flex img {
    width: 55%;
  }

  .season h1 {
    font-size: 0.7rem;
  }

  .writeup-right p {
    line-height: 1rem;
    font-size: 0.7rem;
  }

  .writeup-left h1 {
    font-size: 1.5rem;
  }

  .nav-flex {
    width: 81vw;
    padding: 5rem 1rem;
  }

  .blue-ep,
  .grey-ep,
  .grey-ep-s2 {
    width: 94%;
    height: 6.5rem;
  }

  .episode {
    height: 6.5rem;
  }

  .grey-text-container h1,
  div#text-container-2 h1 {
    font-size: 0.7rem;
    line-height: 0.9rem;
  }

  .grey-text-container,
  div#text-container-2 {
    left: 0.8rem;
    top: 0.4rem;
  }

  #text-container-2 h4,
  .grey-text-container h4 {
    font-size: 0.4rem;
  }

  .mobile-listen h4 {
    font-size: 0.4rem;
  }

  .mobile-listen {
    bottom: 0.25rem;
  }

  .mobile-listen {
    left: 1rem;
  }

  .download-mobile img {
    width: 44%;
    margin-left: 26.5%;
    margin-top: 17%;
  }
}
@media (max-width: 475px) {
  .writeup5 h4 {
    margin-top: 1px;
  }
}
@media (max-width: 445px) {
  .writeup5 h4 {
    margin-top: 1px;
  }
  svg.twitter-blue-tablet,
  svg.linkedin-blue-tablet {
    width: 5.5%
  }

  svg.twitter-blue-tablet {
    left: 22.5%;
  }
}
@media (max-width: 415px) {
  .intro {
    padding: 2rem;
  }

  .writeup4 h4 {
    margin-top: -9px;
  }

  .logo img {
    padding: 0;
    margin-left: 20px;
  }

  .writeup-right {
    padding-top: 0;
  }

  .writeup3 h4 {
    margin-top: -1px;
  }

  section.sec-ep1 {
    margin-bottom: 0.8rem;
  }

  .write-up {
    padding: 0 2rem 2rem;
    margin-bottom: 58px;
  }

  .nav-flex {
    width: 85vw;
  }

  .about-content h1 {
    font-size: 1rem;
  }

  .about-content p {
    font-size: 0.7rem;
  }

  .about-content {
    width: 74%;
    top: 20%;
  }

  footer img {
    width: 36%;
  }

  .mejs-controls .mejs-pause button,
  .mejs-controls .mejs-play button {
    left: 11.5%;
  }

  .mejs-duration-container {
    left: 76%;
  }

  .mejs-controls .mejs-time-rail span {
    width: 45%;
    left: 25.5%;
  }

  .mobile-h1 h1 {
    font-size: 1rem;
    line-height: 1.4rem;
  }

  .download-mobile {
    width: 2.2rem;
  }

  .download-mobile img {
    width: 37%;
    margin-right: 32.3%;
    margin-top: 18%;
  }

  .mobile-listen {
    left: 0.8rem;
  }

  .small-mobile {
    top: 1.5rem !important;
  }

  .mobile-arrow img {
    width: 66%;
  }

  .mobile-arrow {
    left: 1rem;
    top: 2.2rem;
  }

  .listen-mobile {
    width: 9.5rem;
  }

  .listen-mobile h4 {
    font-size: 0.4rem;
    letter-spacing: 0.25rem;
  }

  .download-mobile {
    height: 2rem;
  }

  .download-mobile img {
    width: 38%;
    margin-left: 30%;
  }
}
@media (max-width: 390px) {
  .writeup3 h4{
    margin-top: -9px;
  }
}
@media (max-width: 375px) {
  .nav-flex img {
    width: 90px;
  }

  .writeup4 h4 {
    margin-top: -9px;
  }

  .mobile-h1 h1 {
    font-size: 1rem;
  }

  .mobile-arrow img {
    width: 56%;
  }

  .mobile-arrow {
    left: 0.5rem;
    top: 1.9rem;
  }
  svg.twitter-blue-tablet,
  svg.linkedin-blue-tablet {
    width: 7.5%
  }

  svg.twitter-blue-tablet {
    left: 28%;
  }
}

@media (max-width: 344px) {
  .writeup4 h4, .writeup5 h4{
    margin-top: -19px;
  }
}

.season-title {
  padding: 0;
}

.season-title h1 {
  color: #0F69F7;
}

.date {
  float: right;
}

.bkground-s1 {
  background-color: #f3f2f2;
}